/* /Pages/Index.razor.rz.scp.css */



.draw_all[b-cclvvub6ts] {
    position: absolute;
    right: 0;
    top: 0;
    width: 220px;
    background-color: #ffffff;
    border: none;
    overflow-y: auto;
}

    .draw_all .empty_list[b-cclvvub6ts] {
        text-align: center;
        font-size: 13px;
        color: #111111;
    }

.board[b-cclvvub6ts] {
    width: 390px;
    height: 850px;
    background-color: transparent;
    border: 1px solid #333333;
    position: absolute;
    top: 0;
    left: 0px;
}

canvas[b-cclvvub6ts] {
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-size: cover;
}

.element[b-cclvvub6ts] {
    width: 100%;
    height: 50px;
    font-size: 0;
    cursor: pointer;
    position: relative;
}

    .element.active[b-cclvvub6ts] {
        background-color: #e5e5e5;
    }

    .element img[b-cclvvub6ts] {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        text-align: right;
        padding-right: 5px;
        margin-left: 15px;
        object-fit: contain;
    }

    .element .title[b-cclvvub6ts] {
        font-size: 13px;
        width: 70%;
        line-height: 50px;
        height: 50px;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
    }

    .element .close[b-cclvvub6ts] {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 17.5px;
        right: 10px;
        background: url('images/delete.png') no-repeat;
        background-size: contain;
        display: none;
    }

    .element .up[b-cclvvub6ts] {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 15px;
        right: 35px;
        background: url('images/up.png') no-repeat;
        background-size: contain;
        display: none;
        border: 1px solid #010101;
        border-radius: 5px;
    }

    .element .down[b-cclvvub6ts] {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 15px;
        right: 60px;
        background: url('images/down.png') no-repeat;
        background-size: contain;
        display: none;
        border: 1px solid #010101;
        border-radius: 5px;
    }

    .element:hover .close[b-cclvvub6ts], .element:hover .up[b-cclvvub6ts], .element:hover .down[b-cclvvub6ts] {
        display: block;
    }

.property[b-cclvvub6ts] {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    border-radius: 16px 16px 0px 0px;
    font-size: 0;
}

    .property .header[b-cclvvub6ts] {
        height: 50px;
        position: relative;
        line-height: 50px;
        padding-left: 10px;
        font-size: 13px;
        background-color: #f9fafe;
        border-radius: 16px 16px 0px 0px;
    }

    .property img[b-cclvvub6ts] {
        width: 100%;
    }

    .property .header .close[b-cclvvub6ts] {
        position: absolute;
        right: 15px;
        top: 15px;
        bottom: 15px;
        width: 20px;
        height: 20px;
    }

    .property .form-group[b-cclvvub6ts] {
        width: 100%;
        height: 50px;
        font-size: 0;
    }

        .property .form-group .label[b-cclvvub6ts], .property .form-group .input[b-cclvvub6ts] {
            display: inline-block;
            height: 50px;
            line-height: 50px;
        }

        .property .form-group .label[b-cclvvub6ts] {
            width: 100px;
            font-size: 15px;
            padding-left: 10px;
            text-align: left;
            padding-right: 10px;
            display: inline-block;
        }

        .property .form-group .input[b-cclvvub6ts] {
            width: 120px;
            font-size: 15px;
            padding-right: 10px;
        }

            .property .form-group .input input[b-cclvvub6ts], .property .form-group .input textarea[b-cclvvub6ts] {
                width: 100%;
                height: 30px;
                outline: none;
                border: none;
                border-bottom: 1px solid #ababab;
                border-radius: 8px;
                border: 1px solid #ababab;
            }

    .property .foot .btn[b-cclvvub6ts] {
        width: 130px;
        height: 35px;
        line-height: 35px;
        margin-top: 32.5px;
    }

    .property .foot[b-cclvvub6ts] {
        height: 100px;
        width: 100%;
        text-align: center;
    }
